@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(https://th.bing.com/th/id/R.1a3d0d3491236a33e453aa7bd7f26caa?rik=IXD5XTbMa%2bKCGg&pid=ImgRaw&r=0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border: 1px solid rgb (105, 197, 255);
    border-radius: 25px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

input {
    padding: 7px;
    border-radius: 2%;
    border: 1px solid black;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: black;
    border: transparent black;
}

.task-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}